//Update Bootstrap Variables
$brand-primary: #51bafc !default;
$blue: #51bafc!default;
$danger: #d9534f;
$padding-base-vertical: 6px !default;
$padding-base-horizontal: 20px !default;
$border-radius-base: 2px !default;
$border-radius-large: 4px !default;
$border-radius-small: 2px !default;
$table-cell-padding: 7px !default;
$btn-default-color: #fff !default;
$btn-default-bg: #7c8aa4 !default;
$input-border: #d7dee6 !default;
$grid-gutter-width: 20px !default;
$icon-font-path: "resources/fonts/fonts";
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: $danger;
$state-danger-text: #d9534f;
$font-path: '/assets/fonts/';
$images-path: '/assets/images/';
