<div class="autocomplete-wrapper"
     [ngClass]="{'autocomplete-list-close': !isOpenItemsList}">
    <input type="text" autocomplete="off"
           #autocompleteInput
           class="autocomplete-input"
           value="{{ searchString }}"
           placeholder="{{ placeholder }}"
           (input)="onInputValueChange($event.target.value)"
           (blur)="onInputBlur()"
           (focus)="onInputFocus()" />

    <div class="autocomplete-list-wrapper">
        <div class="autocomplete-item autocomplete-item-external text-muted" *ngIf="isSearching&&loader.isShow">Загрузка...</div>

        <autocomplete-list *ngIf="isOpenItemsList"
                           [showNotFound]="showNotFound"
                           [filteredItems]="itemsList.filteredItems"
                           [displayedItems]="itemsList.displayedItems"
                           [hoveredIndex]="itemsList.hoveredIndex"
                           (hoveredIndexChange)="changeHoveredIndex($event)"
                           (select)="onClickItem($event)"></autocomplete-list>
    </div>
</div>
